repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args:
          - --fix
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^(bimmer_connected/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks: 
      - id: mypy
        name: mypy
        entry: mypy
        additional_dependencies: [types-setuptools, "typing_extensions>=3.10.0.2,<5.0"]
        files: ^bimmer_connected/.+\.py$
 