sudo: false
language: python
install: pip install -U tox coveralls
matrix:
  fast_finish: true
  include:
  - python: '3.6'
    env: TOXENV=py36
  - python: '3.7'
    env: TOXENV=py37
  - python: '3.8'
    env: TOXENV=py38
  - python: '3.6'
    env: TOXENV=flake8
  - python: '3.6'
    env: TOXENV=pylint
  - python: '3.6'
    env: TOXENV=docs
before_script:
- echo 'Europe/Berlin' | sudo tee /etc/timezone
- sudo dpkg-reconfigure --frontend noninteractive tzdata
script: travis_wait tox
after_success: coveralls
