[tool.black]
line-length = 120

[tool.isort]
line_length = 120
profile = "black"

[tool.pylint.MASTER]
py-version=3.7

[tool.pylint.FORMAT]
max-line-length=120

[tool.pylint.'MESSAGES CONTROL']
disable="""
    duplicate-code,
    not-context-manager,
"""

[tool.pytest.ini_options]
asyncio_mode = "strict"

[tool.mypy]
show_error_codes = true
enable_error_code = "ignore-without-code"